@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Fade In */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade In Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  30% {
    opacity: 1;
    transform: scale(1.1);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Scroll Down Pulse */
@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulseRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes pulseLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes scrollDown2 {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-10px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

#root {
  /* max-width: 1280px; */
  width: 100vw;
  /* height: 100vh; */
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background-color: green; */
  text-align: center;
}

.slideIn {
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(-200px);
}

.fade {
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  cursor: default;
  z-index: 1;
}

.up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.delay1 {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.delay2 {
  -webkit-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}

.delay3 {
  -webkit-animation-delay: 2s !important;
  animation-delay: 2s !important;
}
.swiper-pagination {
  bottom: 10px !important; /* Push it below the slide area */
  z-index: 1;
}

.swiper-slide {
  cursor: grab;
}

@keyframes scale-a-lil {
  from {
    scale: 0.7;
  }
}
@keyframes growFromZero {
  from {
    scale: 0;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
}

@keyframes scrollFadeIn {
  from {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .grow {
    animation: scale-a-lil linear both;
    animation-timeline: view();
    animation-range: 40vh 60vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .slideLeft {
    animation: slideLeft linear both;
    animation-timeline: view();
    animation-range: 0vh 50vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .scrollFadeIn {
    animation: scrollFadeIn linear both;
    animation-timeline: view();
    animation-range: 20vh 40vh;
  }
}

/* smooth bgcolor transitions, excluding preview which has image-background */
*:not(.preview) {
  transition: background-color 1s;
}
