@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Fade In */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade In Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scroll Down Pulse */
@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#root {
  /* max-width: 1280px; */
  width: 100vw;
  /* height: 100vh; */
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background-color: green; */
  text-align: center;
}

.fade {
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 1;
}

.up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.delay1 {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.delay2 {
  -webkit-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}

.delay3 {
  -webkit-animation-delay: 2s !important;
  animation-delay: 2s !important;
}
.swiper-pagination {
  bottom: 10px !important; /* Push it below the slide area */
  z-index: 1;
}
